@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* VARIABLES */
:root {
    --white-color: rgb(223, 217, 217);
    --white-color-lighter: rgb(250, 250, 250);
    --white-color-darker: rgb(189, 187, 187);
}

/* COMMON */
.hidden {
    display: none;
}

img {
    width: 100%;
}

input {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 16px 14px;
    font-size: 24px;
    color: var(--white-color);
    opacity: 1;
    background-color: transparent;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), inset 4px 4px 10px rgba(255, 255, 255, 0.6);
    transition: all 0.25s ease;
}

input:hover {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.8), inset 8px 8px 12px rgba(255, 255, 255, 0.6);
    color: var(--white-color-lighter);
}

input::-webkit-input-placeholder {
    opacity: 0.8;
    transition: all 0.25s ease;
    color: var(--white-color);
}
input:hover::-webkit-input-placeholder {
    opacity: 1;
    color: var(--white-color-lighter);
}
input:focus::-webkit-input-placeholder {
    opacity: 1;
    color: var(--white-color-lighter);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

i {
    cursor: pointer;
}

/* BACKGROUND */
.back-ground {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* LOG OUT */
#log-out {
    position: absolute;
    cursor: pointer;
    margin-left: 12px;
}

/* WEATHER */
#weather {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin: 8px;
    color: #fff;
    cursor: default;
}

#weather span {
    margin: 0 8px;
    font-size: 18px;
}

/* GREETING and CLOCK*/

.greeting {
    color: var(--white-color-lighter);
    width: 600px;
    margin: 200px auto 40px;
    text-align: center;
}

#hello-form .enter-name {
    color: var(--white-color-lighter);
    margin: 0 30px 40px 0;
}
#hello-form .submit {
    cursor: pointer;
}

#greeting {
    font-size: 40px;
    margin-bottom: 40px;
}

#clock {
    font-size: 80px;
    margin-bottom: 60px;
    cursor: default;
}

/* TODO LIST */
#todo-form input {
    min-width: 400px;
}

#todo-list {
    width: 230px;
    max-height: 270px;
    font-size: 20px;
    color: var(--white-color-lighter);
    margin: 0 auto;
    transform: translateX(-30%);
}

#todo-list li {
    min-width: 320px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: all 0.25s ease;
    overflow: hidden;
}
#todo-list li:hover {
    opacity: 0.8;
}

#todo-list li span {
    padding-right: 32px;
}

.delete {
    animation: disa 1s ease 2s forwards;
}

.delete::before {
    content: "";
    width: 200px;
    height: 1px;
    background-color: var(--white-color);
    position: absolute;
    left: -220%;
    animation: moveInL 1.5s ease forwards;
}
.delete::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: var(--white-color);
    position: absolute;
    right: -220%;
    animation: moveInR 1.5s ease forwards;
}

@keyframes moveInL {
    to {
        left: 2%;
    }
}
@keyframes moveInR {
    to {
        right: 2%;
    }
}

@keyframes disa {
    100% {
        opacity: 0;
    }
}

/* QUOTES */
#quote {
    min-width: 600px;
    height: 30px;
    color: var(--white-color-darker);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
}
